.Very-pale-blue {
  background: hsl(225, 100%, 98%);
}
.Desaturated-blue {
  background: hsl(224, 23%, 55%);
}
.Dark-blue {
  background: hsl(223, 47%, 23%);
}

.Pale-blue {
  background: hsl(225, 100%, 94%);
}
.Brigh-blue {
  background: hsl(245, 75%, 52%);
}
